@use "../node_modules/normalize.css/normalize";

$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  background-color: $Light-gray;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Outfit", sans-serif;
}

// * COMPONENT
.block {
  background-color: $White;
  padding: 1rem;
  padding-bottom: 0;
  width: 32rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  &__image {
    max-width: 100%;
    border-radius: 1rem;
    // margin-bottom: 0.5rem;
  }
  &__heading {
    color: $Dark-blue;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0;
  }
  &__text {
    font-size: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: $Grayish-blue;
  }
}

.text-container {
  padding: 20px;
  padding-bottom: 25px;
}
