$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  background-color: $Light-gray;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Outfit", sans-serif;
}

// * COMPONENT
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  box-shadow: none;
  background-color: $White;
  padding: 1.5rem;
  max-width: 32rem;
  border-radius: 2rem;
  &__image {
    max-width: 100%;
    border-radius: 1rem;
    // margin-bottom: 0.5rem;
  }
  &__heading {
    color: $Dark-blue;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
  }
  &__text {
    font-size: 1.5rem;
    font-weight: 400;
    color: $Grayish-blue;
    margin: 0;
    line-height: 1.3;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.25rem 1.25rem;
}
